body {
  background: #0b0f1a;
  color: #eaeaf0;
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background: linear-gradient(135deg,#4f46e5,#06b6d4);
  padding: 90px 0;
}

.profile-img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #fff;
}

.hero h1 {
  font-size: 3rem;
}

.hero-text {
  max-width: 500px;
}

.socials a {
  font-size: 26px;
  margin-right: 15px;
  color: white;
  transition: .3s;
}

.socials a:hover {
  color: #0b0f1a;
}

.section {
  margin-top: 80px;
}

.section h2 {
  margin-bottom: 30px;
  font-weight: 700;
  background: linear-gradient(90deg,#6366f1,#22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-card {
  background: #111827;
  margin: 10px;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  transition: .3s;
}

.skill-card:hover {
  transform: translateY(-6px);
  background: linear-gradient(135deg,#4f46e5,#06b6d4);
}

.project-card {
  background: #111827;
  padding: 25px;
  border-radius: 18px;
  height: 100%;
  transition: .3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

.project-card span {
  font-size: 13px;
  color: #38bdf8;
}

.timeline-item {
  background: #111827;
  padding: 25px;
  border-left: 4px solid #22d3ee;
  border-radius: 10px;
}

footer {
  margin-top: 100px;
  background: #020617;
  text-align: center;
  padding: 25px;
}
