body {
  background: #f5f7fa;
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background: linear-gradient(135deg,#0d6efd,#003c8f);
  color: white;
  padding: 60px 0;
}

.profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}

.section {
  margin-top: 60px;
}

.section h2 {
  border-left: 5px solid #0d6efd;
  padding-left: 10px;
  margin-bottom: 25px;
}

.skills span {
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}
